.mainContainer {
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.topSpacing {
    margin-top: 2px;
}

.contentInsideCard {
    display: flex;
    align-items: center;
    justify-content: center;
}