.textbox-container {
  display: flex;
  padding: 10px;
  align-items: left;
  gap: 10px;
  border-radius: 12px;
  background: #F2F2F2;
}

.textbox-text {
  color: #D9D9D9;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}