.mainContainer {
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.topSpacing {
    margin-top: 5px;
}

.contentInsideCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; 
    height: 100%;
}

.imagePlaceholder {
    width: 50%; /* or any other size you want */
    height: 100%; /* or any other size you want */
    background-color: grey; /* grey background */
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
  
  .image {
    max-width: 100%; /* ensure image doesn't overflow */
    max-height: 100%; /* ensure image doesn't overflow */
  }


  .rightFrame {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 3%;
  }

  .applyButton {
    margin-top: 110%;
    padding-left: 160%;
  }