.overall-signin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #FFF;
}

.left-frame {
    width: 600px;
    /* height: 100vh; */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding-top: 50px;
}

.right-frame {
    height: 100vh;
    flex-grow: 1;
    overflow: hidden;
    background: linear-gradient(123deg, rgba(198, 62, 199, 0.68) 0%, rgba(255, 191, 83, 0.69) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.soulmynt-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.bold-text-container {
    margin-bottom: 25px;
}

.create-account-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.email-pass {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}

.continue-button {
    display: flex;
    justify-content: center;
    width: 100%;

    align-items: flex-end;
    padding-bottom: 10%; /* Add some space at the bottom */
}

.signin-text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.main-signin-text {
    width: 325px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 3;
    text-transform: capitalize;
    white-space: pre-line;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.password-rules {
    list-style-type: none; /* Removes the default bullet points */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Removes the default margin */
    text-align: left; /* Aligns the text to the left */
}

.rules-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.rule-text{
    color: #D9D9D9;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}