.createContainer {
    overflow: hidden;
}

.createTextContainer {
    margin-left: 17%;
    margin-top: 5.5%;
    position: relative;
    z-index: 2;
}

.createGrid {
    margin-left: 17%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 40% 30%; /* L to R */
    grid-template-rows: 7% 50% 22.5%; /* Top to Bottom */
    gap: 1rem; /* Optional: Adjust as needed for spacing between cards */
    height: 90vh; 
    position: relative;
    z-index: 1;
}

.recentCredentialsCard {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .recentCommunitiesCard {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sendCredentialsCard {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

*/

.createCredentialButton {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.createCommunitiesButton {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
} 

/* .overlayBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); 
}

.overlayWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.overlayWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything else */
}

.overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Ensure it's below the modal but above everything else */
}

.generalSpacing {
    margin-top: 2%;
    margin-left: 2%;
}


.communityDropdown select {
    background-color: white; /* Sets the background color to white */
    color: black; /* Sets the text color */
    border: none; /* Removes the default border */
    padding: 10px; /* Adds some padding inside the select box */
    border-radius: 5px; /* Optional: Matches the border-radius of the Card component */
    width: 100%; /* Sets the width to fill the container */
    -webkit-appearance: none; /* Removes default style in WebKit browsers */
    -moz-appearance: none; /* Removes default style in Firefox */
    appearance: none; /* Removes default browser styling */
  }

  .communityDropdown::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    pointer-events: none;
}

.communityDropdown select:focus {
    outline: none;
}


