.createContainer {
    overflow: hidden;
}

.createCredentialButton {
    position: absolute;
    top:  175px;
    left: 250px;
    /* padding-top: 10vw;
    padding-left: 10vw; */
}

.overlayBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 10; 
}

.overlayWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 10vh;
    z-index: 10; /* Ensure it's above other content */
}