.dashboardContainer {
    overflow: hidden;
}

.myGroupsGrid {
    margin-left: 17%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 50% 40%; /* L to R */
    grid-template-rows: 48% 40%; /* Top to Bottom */
    gap: 1rem; /* Optional: Adjust as needed for spacing between cards */
    height: 80vh; 
    position: relative;
    z-index: 1;
}

.myGroupsTextContainer {
    margin-left: 17%;
    margin-top: 5.5%;
    position: relative;
    z-index: 2;
}

.createChallengeButton {
    margin-left: 17%;
    margin-top: 1%;
    position: relative;
}
.overlayWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything else */
}

.overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Ensure it's below the modal but above everything else */
}




.generalSpacing {
    margin-top: 2%;
    margin-left: 2%;
}

