.backgroundDesign {
    background: radial-gradient(45.85% 59.75% at 52.10% 50.00%, rgba(198, 62, 199, 0.51) 0%, rgba(235, 145, 125, 0.28) 50%, rgba(255, 191, 83, 0.04) 100%);
    width: 100vw;  /* This ensures the container takes up the full viewport width */
    height: 100vh; /* This ensures the container takes up the full viewport height */
    flex-shrink: 0;
    overflow: hidden;
    position: fixed; /* This ensures the background stays in place even if other content overflows */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center;     /* Center children vertically */
    flex-direction: row;
}


.gradientBorder {
    border-radius: 12px;
    background: linear-gradient(to right, #EC7BCF, #FFD57A);
    width: 98%;  
    height: 96%; 
    position: relative; 
    display: flex; /* To lay out children horizontally */
    align-items: center; 
    justify-content: center; 
    
}

.cover {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.75);
    width: 99.75%;  /* Adjust this percentage as needed */
    height: 99.5%; 
}

